<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Site</title>
</head>
<body>
    <header>
        <nav>
            <a href="./index.ejs">
                <h1 class="name">Blog</h1>
            </a>
            <ul class="navbar">
                <li class="nav-button active"><a href="/">Home</a></li>
                <li class="nav-button"><a href="/createPost">Create New Post</a></li>
                <li class="nav-button"><a href="/modifyPosts">Modify Existing Posts</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">